name: Build and Release

on: push

jobs:
  build-and-release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build the project
        run: bun run bundle

      - name: Zip haax-blp folder (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          Compress-Archive -Path haax-blp -DestinationPath haax-blp-windows.zip -Force
          Write-Output "artifact_file=haax-blp-windows.zip" >> $env:GITHUB_OUTPUT

      - name: Zip haax-blp folder (Linux)
        if: runner.os != 'Windows'
        shell: bash
        run: |
          zip -r haax-blp-linux.zip haax-blp
          echo "artifact_file=haax-blp-linux.zip" >> $GITHUB_OUTPUT

      - name: Check if Tag Exists
        id: check_tag
        shell: bash
        run: |
          version=$(bun -e "console.log(require('./package.json').version)")
          tag_exists=$(git ls-remote --tags origin "refs/tags/v$version")
          if [ -z "$tag_exists" ]; then
            echo "Tag does not exist. Creating tag..."
            git config --global user.email "actions@github.com"
            git config --global user.name "${{ github.actor }}"
            git tag -a -m "Tag for version $version" "v$version"
            git push origin "v$version"
          else
            echo "Tag v$version already exists."
          fi
          echo "tag_name=v$version" >> $GITHUB_OUTPUT

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ steps.zip_haax_blp_windows.outputs.artifact_file || steps.zip_haax_blp_linux.outputs.artifact_file }}
          tag_name: ${{ steps.check_tag.outputs.tag_name }}
